<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>          
    <add name="DataModel" connectionString="data source=192.168.0.1;initial catalog=SMSV2;persist security info=True;user id=SMSV2;MultipleActiveResultSets=True;App=EntityFramework;User ID=SMSV2;Password=SMSV2" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>