<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="timetablingSettings" type="System.Configuration.AppSettingsSection" />
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.data>
    <DbProviderFactories>
      <add name="Effort.Provider" invariant="Effort.Provider" description="Effort.Provider" type="Effort.Provider.EffortProviderFactory, Effort" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="Effort.Provider" type="Effort.Provider.EffortProviderServices, Effort" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="DataModel" providerName="Effort.Provider" connectionString="Data Source=in-process;IsTransient=true;App=EntityFramework;" />
  </connectionStrings>
  
  <timetablingSettings>

    <add key="TestSetting" value="TestValue" />

    <!-- Maximum duration of the timetable generation in seconds. Default: 0 (unlimited) -->
    <add key="Timeout" value="0" />

    <!-- Relative path to fet-cl executable. Default: "lib/fet/fet-cl" -->
    <add key="FetExecutableLocation" value="lib/fet/fet-cl" />

    <!-- Language of FET error message output. Must be of type FetLanguage. Default: FetLanguage.US_English. -->
    <add key="FetLanguage" value="FetLanguage.nl_NL" />

    <!-- Working directory of the program, where intermediary files are stored. Default: "%TEMP%/timetabling" -->
    <add key="FetWorkingDir" value="%TEMP%/timetabling" />

  </timetablingSettings>
</configuration>
